.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  color: white;
  padding: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 15px;
}

.welcome-message {
  font-size: 1.5em;
}

.header-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
}
