.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 400px;
  margin-right: 10px;
  border-radius: 4px;
}

.search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
}
